.template {
    overflow: hidden;
}

.template button {
    opacity: 0;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateY(12px);
}

.template::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.template:hover::after {
    background-color: rgba(0, 0, 0, 0.133);
    backdrop-filter: blur(2px);
}

.template:hover button {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.392);
}